 body {
  background: lightblue url('assets/img_fjords.jpg') ;
  background-size: cover;
}

h1 {
  background-color: #00ff00;
}

h4 {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  background-color: #00ff00;
  color:#8A2BE2
}


